.catalog_panel {
    visibility: hidden;
    pointer-events: none;
    background-color: #1a1918;
    height: auto;
    width: 80%;
    z-index: 100;
    position: fixed;
    border-radius: 25px;
    overflow: visible;
    transition: opacity 0.5s, transform 0.5s, visibility 0.5s;
    transform: translateY(-1000px);
    z-index: 1000;

}

.highPanel {
    border: 1px solid white;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 25px;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    background-color: #151412;
    color: white;
    font-size: 1.6em;
}

.catalog_panel.open {
    visibility: visible;
    pointer-events: auto;
    top: 0;
    transform: translateY(0);
    transition: opacity 0.5s, transform 0.5s, visibility 0.5s;
}

.wrapperButtons {
    border-radius: 25px;
    z-index: 100;
    display: grid;
    grid-template-columns: repeat(2, 400px);
    gap: 10px;


    border: 1px solid white;
}

.blockShowrest {
    background-color: rgb(45, 44, 44);
    width: 8rem;
    border-radius: 10px;
    color: gray;
    padding: 2px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

.blockShowrest:hover {
    color: white;
}

.blockCat {
    background-color: #1a1918;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin: 40px 40px 40px 40px;
    gap: 10px;
}

.blockCat>a {
    font-size: 1.4em;
}


.blockCat a:hover {
    text-decoration: underline;
}

.closeBtn {
    border: 1px solid white;
    border-radius: 50%;
    padding: 20px 25px;
    margin-top: 20px;
    cursor: pointer;
    background-color: transparent;
    color: white;

}

.main {
    font-size: 1.1em;
    color: white;
    text-decoration: none;
}

.subCategories {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 5px;
    text-align: start;
}


.subCategories a {
    text-decoration: none;
    color: rgb(184, 184, 184);
    font-size: 1.2em;
}