.block_popular {
    position: relative;
    padding: 50px;
    border-radius: 25px;
    margin-top: 20px;
}

.block_popular>h1 {
    color: white;
    top: 0;
    left: 50px;




    position: absolute;
}


.swiperPage {
    padding: 20px !important;
    margin-top: 40px;
    overflow: hidden;
    width: 100%;


}