.titleBook {
    color: white;
}

.section_show_book {
    border: 1px solid white;
    width: 80%;
    margin: 0 auto;
}

.panels {
    width: 100%;
    height: 100px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    gap: 10px;


}

.link {
    color: gray;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
}

.link:hover {
    color: white;
}

.show_img_books {
    border: 3px solid yellow;
    width: 50%;
    height: 500px;

}

.show_parameters_books {
    border: 1px solid white;
    height: 500px;
    width: 50%;

}

.show_parameters_books a {
    color: gray;
    text-decoration: none;
    padding: 5px;


}

.show_parameters_books a:hover {
    color: gray;
    text-decoration: underline
}


.show_parameters_books h1 {
    color: white;

}

.block_unit {
    border: 1px solid red;
    display: flex;
    justify-content: space-around;


}